body{
  background:
  linear-gradient(
      rgba(255, 0, 0, 0.45),
      rgba(255, 0, 0, 0.45)
  )
  url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar{
  color: rgb(255,255,255);
  font-family: 'Quicksand', sans-serif;
  /* background-color: rgb(29,172,232);
  border: none; */
}

h4 {
  text-align: center;
  position: absolute;
  top: 15%;
  left: 35%;
}

.navbar-form {
  position: absolute;
  top: 0%;
 /*  right: -20%; */
}

form {
  width: 30%;
  position: absolute;
  top: 25%;
  left: 35%;

}

.login {
  text-align: center;
  position: absolute;
  top: 20%;
  left: 35%;
}

.here {
  font-weight: bold;
}

/* .m-content {
  text-align: center;
  position: absolute;
  top: 20%;
  left: 35%;
} */

/* .whitebox {
  background-color: whitesmoke;
  border-color: whitesmoke;
} */

